<form action="/recipes" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Updated Recipe Name: <input type="text" name="name"><br>
  Updated Recipe Ingredients: <input type="text" name="content"><br>
  Updated Recipe Cook Time <input type="text" name="time"><br>
  <input type="submit" id="submit">
</form>